<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uottawa.seg2105.project.cqondemand">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_q1c"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_q1c"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserViewActivity"
            android:label="@string/title_activity_user_account_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserEditActivity"
            android:label="@string/title_activity_user_account_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserChangePasswordActivity"
            android:label="@string/title_activity_user_account_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserListActivity"
            android:label="@string/title_activity_user_account_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceListActivity"
            android:label="@string/title_activity_service_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceViewActivity"
            android:label="@string/title_activity_service_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceEditActivity"
            android:label="@string/title_activity_service_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryCreateActivity"
            android:label="@string/title_activity_category_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceCreateActivity"
            android:label="@string/title_activity_service_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AvailabilityWeekViewActivity"
            android:label="@string/title_activity_availability_week_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BookingCreateActivity"
            android:label="@string/title_activity_booking_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ServiceProviderPickerActivity"
            android:label="@string/title_activity_service_provider_picker"
            android:screenOrientation="portrait" />
    </application>

</manifest>