<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uottawa.seg2105.project.cqondemand">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_q1c"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_q1c"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserAccountCreateActivity"
            android:exported="true"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAccountViewActivity"
            android:label="@string/title_activity_user_account_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAccountEditActivity"
            android:label="@string/title_activity_user_account_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAccountChangePasswordActivity"
            android:label="@string/title_activity_user_account_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAccountListActivity"
            android:label="@string/title_activity_user_account_list"
            android:screenOrientation="portrait" />
        <activity android:name=".CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:screenOrientation="portrait" />
        <activity android:name=".ServiceListActivity"
            android:label="@string/title_activity_service_list"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>